<form method="post" class="contact-form" action="/thanks">
  <div class="webform-component">
    <input type="text" name="name" placeholder="Your Name">
  </div>
  
  <div class="webform-component">
    <input type="text" name="email" placeholder="Your Email">
  </div>

  <div class="webform-component">
    <textarea name="message" placeholder="Leave us a Message"></textarea>
  </div>

  <input type="hidden" name="_to" value="admin@coreveritas.org">
  <input type="hidden" name="_subject" value="CoreVeritas Website Contact Submission">
  <input type="text" name="_gotcha" style="display: none;">

  <input type="submit" value="Send">
</form>