<header role="banner" itemscope class="site-header wrap clearfix">    
  <nav role="navigation" class="main-nav">
    <ul class="menu">
      <li><a href="#about" class="">About Us</a></li>
      <li><a href="#services" class="">Services</a></li>
      <div class="logo">
        <a href="/" class=""><img src="/assets/images/greytext_logo.png" /></a>
      </div>
      <li><a href="#clients" class="">Clients</a></li>
      <li><a href="#contact" class="">Contact</a></li>
    </ul>
  </nav>
</header>
<div class="nav-btn-bar">
  <img class="nav-btn" src="/assets/images/menu.png" />
</div>