.logo {
  padding: 1em 1em;
  transition: all 0.5s ease;
  display: inline-block;
  background: #fff;
  margin: 0 .25em;
  @include breakpoint($tablet, $no-query:'.no-mq') {
    padding: 1.2em 2em 1em;
    border-radius: 0 0 15px 15px;
    margin: 0 .25em;
  }
  img {
    display: inline-block;
    transition: all 0.5s ease;
    margin: 0 auto;
    width: 60px;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      width: 100px;
    }
  }
}