.logo {
  padding: 1em 1em;
  transition: all 0.5s ease;
  @include breakpoint($tablet, $no-query:'.no-mq') {
      padding: 1.5em 0;
    }
  img {
    display: block;
    transition: all 0.5s ease;
    margin: 0 auto;
    width: 60px;
    
    @include breakpoint($tablet, $no-query: ".no-mq") {
      width: 100px;
      opacity: 0;
    }
  }
}

.sticky {
  .logo img {
    opacity: 1;
  }
}

.logo {
  padding: 1em 1em;
  transition: all 0.5s ease;
  float: left;
  max-width: 150px;
  @include breakpoint($tablet, $no-query:'.no-mq') {
    float: none;
    max-width: none;
  }
  .light img {
   opacity: 0;
   height: 0;
  }
  .dark img {
    opacity: 1;
    height: auto;
  }
  @include breakpoint($tablet, $no-query:'.no-mq') {
    .dark img {
      opacity: 0;
      height: 0;
    }
    .light img {
   opacity: 1;
   height: auto;
  }
  }
}

.dark img {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease;
}

.sticky {
  .light img {
  transition: all 0.5s ease;
   opacity: 0;
   height: 0;
  }
  .dark img {
    opacity: 1;
    transition: all 0.5s ease;
    height: auto;
  }
}



