// .nav-wrap {
//   transition: all 0.5s ease;
//   width: 300px;
//   position: fixed;
//   right: -300px;
//   background: #27c093;
//   height: 100%;
//   z-index: 9;
//   top: 0;
// }
.site-wrap {
    transition: all 0.35s ease;
    opacity: 1;
  }
.menuOpen {
  transition: all 0.5s ease;
  .nav-wrap {
    transition: all 0.5s ease;
    right: 0;
  }
  .site-wrap {
    transition: all 0.35s ease;
    opacity: 0.3;
  }
  .hamburger-menu {
    transition: all 0.5s ease;
    right: 125px;
  }
}



.main-nav .menu {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: right;
  font-size: .8em;
  padding-top: 1em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 2.5em 0em 0 0;
    text-align: center;
    font-size: 1em;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0 0;
    @include breakpoint($tablet, $no-query: '.no-mq') {
       display: inline-block;
    }
    a {
      font-weight: 500;
      transition: all 0.5s ease;
      padding: .5em 1em;
      display: inline-block;
      color: #fff;
      padding: .25em 1em;
      text-shadow: 1px 1px 6px rgba(0,0,0,.75);
      letter-spacing: 2px;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: .75em 1em;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
      }
      &:hover {
        color: #fff;
      }
      &:active {
        top: 1px;
        position: relative;
      }
    }    
  } 
  a, a:visited { text-decoration: none; }
}

// .sticky {
//   .main-nav .menu {
//     li {
//       a {
//         color: #000;
//       }    
//     } 
//   }
// }

// .js .main-nav {
//   .menu {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.5s ease;
//     // @include breakpoint($tablet, $no-query: '.no-mq') {
//     //   max-height: none;
//     // }
//     &.show {
//       max-height: 500px;
//     }
//   }
// }


// .js .hamburger-menu  {
//   // @include breakpoint($tablet, $no-query: '.no-mq') {
//   //   display: none;
//   // }
// }

// .no-js {
//   .hamburger-menu  {
//     display: none;
//   }
// }

// $bar-width: 40px;
// $bar-height: 4px;
// $bar-spacing: 9px;


// .hamburger-menu {
//   position: absolute;
//   transition: all 0.5s ease;
//   top: 2.3em;
//   right: 1em;
//   margin: auto;
//   width: $bar-width;
//   height: $bar-height + $bar-spacing*2;
//   cursor: pointer;
//   z-index: 999;
// }

// .bar,
// .bar:after,
// .bar:before {
//   width: $bar-width;
//   height: $bar-height;
// }

// .bar {
//   position: relative;
//   transform: translateY($bar-spacing);
//   background: rgba(255, 255, 255, 1);
//   transition: all 0ms 300ms;

  
//   &.animate {
//     background: rgba(0, 0, 0, 0); 
//   }
// }

// .bar:before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: $bar-spacing;
//   background: rgba(255, 255, 255, 1);
//   transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
// }

// .bar:after {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: $bar-spacing;
//   background: rgba(255, 255, 255, 1);
//   transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
// }

// .bar.animate:after {
//   top: 0;
//   transform: rotate(45deg);
//   transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
// }

// .bar.animate:before {
//   bottom: 0;
//   transform: rotate(-45deg);
//   transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
// }

