
.site-wrap {
    transition: all 0.35s ease;
    opacity: 1;
  }
.menuOpen {
  transition: all 0.5s ease;
  .nav-wrap {
    transition: all 0.5s ease;
    right: 0;
  }
  .site-wrap {
    transition: all 0.35s ease;
    opacity: 0.3;
  }
  .hamburger-menu {
    transition: all 0.5s ease;
    right: 125px;
  }
}



.main-nav .menu {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: right;
  font-size: .8em;
  padding-top: 1em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 4em 0 0;
    text-align: center;
    font-size: 1em;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0 0;
    @include breakpoint($tablet, $no-query: '.no-mq') {
       display: inline-block;
    }
    a {
      font-weight: 500;
      transition: all 0.5s ease;
      padding: .5em 1em;
      display: inline-block;
      padding: .25em 1em;
      letter-spacing: 2px;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: .75em 1em;
        text-shadow: none !important;
        color: $link !important;
      }
      &:hover {
        color: #fff;
      }
      &:active {
        top: 1px;
        position: relative;
      }
    }    
  } 
  a, a:visited { text-decoration: none; }
}

