input[type="submit"] {
  font-family: $heading-font-family;
  margin: 10px 0 0 0;
  display: block;
	background: #595A5A;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.35);
	border-radius: 3px;
  border: none;
  padding: 14px 25px 10px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #00000080;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}
