.contact-form {
  padding: 0em 2em 2em;
  @include clearfix;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;

  }
}
.webform-component {
  padding-bottom: 1.5em;
  text-align: left;
  label { 
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    // @include breakpoint($tablet, $no-query: ".no-mq") {
    // }
  }
  input, textarea {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    // @include breakpoint($tablet, $no-query: ".no-mq") {
    //   width: 73%;
    // }
  }
}

.contact-wrapper {
  background: $orange;
  position: relative;
      padding: 0 0 2em;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      padding: 0;
    }
  section {
    padding: 8em 1em 5em;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      padding: 4em 1em 4em;
    }
  }
  .connect1-img {
    display: none;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      position: absolute;
      left: 5%;
      top: 20%;
      width: 15%;
      display: block;
      max-width: 220px;
    }
  }
  .connect2-img {
    display: none;
    @include breakpoint($tablet, $no-query: ".no-mq") {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 15%;
        display: block;
        max-width: 220px;
    }
  }
  h2 {
    color: #fff;
  }
  .contact-info {
    @include breakpoint($tablet, $no-query: ".no-mq") {
        width: 100%;
        display: inline-block;
        text-align: right;
        vertical-align: top;
        margin-top: -62px;
        max-width: 625px;
    }
    p, a {
      color: #fff;
    }
    p {
      font-size: 1.1em;
    }
  }
}
