.contact-form {
  padding: 2em;
  @include clearfix;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    width: 50%;
    display: inline-block;
  }
}
.webform-component {
  padding-bottom: 1.5em;
  text-align: left;
  label { 
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    // @include breakpoint($tablet, $no-query: ".no-mq") {
    // }
  }
  input, textarea {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    // @include breakpoint($tablet, $no-query: ".no-mq") {
    //   width: 73%;
    // }
  }
}

.contact-wrapper {
  background: #27c093;
  padding-bottom: 3em;
  h2 {
    color: #fff;
  }
}
