.contact-form {
  background: #E4E4E4;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 3px;
  @include clearfix;
  input[type="submit"] {
    @include breakpoint($tablet, $no-query: ".no-mq") {
      margin-left: 25.5%;
    }
  }
}
.webform-component {
  padding-bottom: 1em;
  label { 
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 1em;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      text-align: right;
      padding-right: 1em;
      max-width: 25%;
    }
  }
  input, textarea {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      width: 73%;
    }
  }
}
