html {
	box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  position: relative;
	body {
    margin: 0;
	  height: 100%;  
    background-color: #fff;
    transition: all 0.5s ease;  
	}
}
*, *:before, *:after { box-sizing: inherit; }
.wrap {
  @include clearfix;
}
