.footer-wrapper {
  @include clearfix;
  background-color: #313131;
  width: 100%;
  padding: 3em 1em 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
  }
}
footer.wrap {
  //padding: 1.5em 2em 1em;
  font-size: 95%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  p {
    color: #fff;
  }
}

.social a {
  width: 35px;
  display: inline-block;
  margin: 0 .5em 1em;
}