.footer-wrapper {
  @include clearfix;
  background-color: $color-three;
  width: 100%;
  padding: .5em 1em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    position: fixed;
        padding: .5em 1em;
    bottom: 0;
    z-index: 999;
  } 
  p {
    margin: 0;
  }
}
footer.wrap {
  //padding: 1.5em 2em 1em;
  font-size: 95%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  p {
    color: #fff;
  }
}

.social {
  text-align: center;
  a {
    width: 75px;
    display: inline-block;
    margin: 0 1em 0.2em;
  }
}