header.site-header {
  margin: 0 auto;
  @include clearfix;
  position: fixed;
  top: -100%;
  width: 100%;
  transition: all 350ms ease-in-out;
  z-index: 1002;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding: 0 2em;
    
  }
  .logo {
    @include breakpoint($tablet, $no-query: ".no-mq") {
    }
  }
  .main-nav {
    @include breakpoint($tablet, $no-query: ".no-mq") {
    }
  }
}

.menuOpen {
  header.site-header {
    transition: all 0.35s ease;
    top: 0;
  }
}
.nav-btn-bar {
  background: $color-three;
  text-align: center;
  height: 65px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  img {
    max-height: 65px;
    display: inline-block;
    padding: 1.1em 0em;
    cursor: pointer;
  }
}
