header.wrap {
  margin: 0 auto;
  @include clearfix;
  position: absolute;
  top: 0;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding:0 2em;
  }
}

.header-top {
  @include clearfix;
}


.nav-header {
  z-index: 1;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    float: none;
    top: 0;
    padding: 0 5em;
    transition: top .5s ease-in-out;
    text-align: center;
  }
}


.logo {
  text-align: center;

}
