.content-wrapper {
  @include clearfix;
}
.wrap {
  margin: 0 auto;
}
.content-wrap { @include clearfix; }
main {
  background-color: $main-bg;
  @include clearfix;
}
.content-wrap {
  background: #fff;
  padding: 0;
  section {
    max-width: 700px;
    margin: 0 auto;
    padding: 0em;
    position: relative;
    z-index: 998;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      padding: 3em 1em;
    }
    h2 {
      font-size: 2.5em;
      text-align: center;
      margin: 0;
      padding: 1.5em 0 1.5em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: 1.5em 0 1.5em;
        font-size: 3.3em;
      }
    }
    p {
      color: #fff;
      font-size: 1.1em;
      line-height: 1.45;
      font-weight: 300;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        font-size: 1.5em;
      }
    }
    img {
      display: inline-block;
      padding: 2em 0 1em;
    }  
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 500vh;
    background: url(../images/frog-bg.png) top center repeat-y;
    top: 0;
    z-index: 0;
    background-size: 100%;
  }
}

.block-wrapper {
  display:table;
  width:100%;
  position: relative;
}
.section-wrapper {
  display:table-cell;
  vertical-align:middle;
  padding: 3em 2.2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    height: 100vh;
    padding: 0 3em;
  }
  section {
    margin-left:auto;
    margin-right:auto;
    max-width: 450px;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      max-width: 620px;
      width:80%;
    }
  }
}
.intro-wrapper {
  padding-top: 65px;
}
.about-wrapper {
  border-top: 8px solid $color-one;
}
.services-wrapper {
  border-top: 8px solid $color-two;
}
.client-wrapper {
  border-top: 8px solid $color-three;
}

.contact-wrapper {
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    font-size: 1.75em;
    padding-top: .5em;
  }
}


.gray {
  background: $color-one;
}
.orange {
  background: $color-two;
}
.blue {
  background: $color-three;
}

