.content-wrapper {
  @include clearfix;
}

.wrap {
  margin: 0 auto;
}
.content-wrap { @include clearfix; }

main {
  background-color: $main-bg;
  @include clearfix;
}

section.content-wrapper {
  //padding: 1.5em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    //padding: 2em;
  }
}

.video {
  height: 100vh;
}

.content-wrap {
  background: #fff;
  padding: 0;
  text-align: center;
  section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    h2 {
      font-size: 2.5em;
      font-weight: 300;
      text-align: center;
      margin: 0;
      padding: 1.5em 0 1.5em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: 3.5em 0 1.5em;
        font-size: 3.3em;
      }
    }
    .videoContainer {
      margin: 0 auto 3em;
      @include breakpoint($tablet, $no-query: '.no-mq') {
        max-width: 80%;
      }
    }
  }
}

.about-wrapper {
  background: red;
  @include clearfix;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    background: url('../images/about-bg.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .about-content {
    @include breakpoint($tablet, $no-query: '.no-mq') {
      text-align: left;
      width: 50%;
      float: right;
      padding-bottom: 5em;
      h2 {
        text-align: left;
        padding: 2.5em 0 0.5em;
      }
    }
    p {
      font-size: 16px;
      color: #484848;
      line-height: 25px;
    }
  }
}