.content-wrapper {
  @include clearfix;
}

.wrap {
  margin: 0 auto;
}
.content-wrap { @include clearfix; }

main {
  background-color: $main-bg;
  @include clearfix;
}

section.content-wrapper {
  //padding: 1.5em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    //padding: 2em;
  }
}

.intro {
  text-align: center;
  padding: 3em 1em 12em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    padding: 5em 1em 19em;
  }
  * {
    color: #fff;
    text-shadow: 0px 2px 6px rgba(0,0,0,0.83);
  }
  h1.pagetitle {
    @include heading-style;
    font-size: 1.7em;
  }
  .subtitle {
    max-width: 500px;
    margin: 0.2em auto 0;
    font-size: 1.2em;
  }
}
.subpage .content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em 1em;
  h1 {
    font-size: 2em;
    @include heading-style; 
    text-align: center;
    padding-top: .75em;
  }
  h2 {
    font-size: 1.2em;
    color: $color-one;
  }
  .header-img {
    margin: 2.5em -3em 2em;
    img {
      width: 100%;
    }
  }
}
.about.subpage .content-wrapper {
  max-width: 800px;
}


.donate .content-wrapper {
  img {
    display: inline-block;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      max-width: 30%;
      padding: 0 1%;
    }
  }
}